@media (max-width: 768px) {
    .pc-card {
        height: 70svh;
        max-height: 450px;
    }

    .pc-details {
        top: 2em;
    }

    .pc-details h3 {
        font-size: min(4svh, 2.1em);
    }

    .pc-user-info {
        --ui-inset: 15px;
        padding: 10px 12px;
    }

    .pc-mini-avatar {
        width: 32px;
        height: 32px;
    }
}